<h1>hi</h1>

<%= @card_first_data %>

<h1><%= @outcome %></h1>

<%= @true_value_first %>

<div>
  <img src= <%= @img_first %> >
</div>

<%= @true_value_second %>

<div>
  <img src= <%= @img_second %> >
</div>

<p>Play Again</p>

<h3>There are <%=@remaining_first%> cards remaining in the decks</h3>

<!--<form action="https://deckofcardsapi.com/api/deck/asf3s3wnp8cl/shuffle/">
  <button>Shuffle Your Deck</button>
</form>

<form action="https://deckofcardsapi.com/api/deck/z3nflaai4q7w/shuffle/">
  <button>Shuffle The Computer's Deck</button>
</form>-->
