<h1><%= @outcome %></h1>

<%= @true_value_first %>

<div>
  <img src= <%= @img_first %> >
</div>

<%= @true_value_second %>

<div>
  <img src= <%= @img_second %> >
</div>

<form action="/play">
  <button>Play Again</button>
</form>

<h3>There are <%=@remaining_first%> cards remaining in the decks</h3>
